.wrapper
  .header
    =link_to 'Keisuke Ito', "#" , class:"header__logo"
    .header__list
      = link_to 'Home', '#',class:"header__list__home"
      = link_to 'About', '#' ,class:"header__list__about"
      = link_to 'Skills','#' , class:"header__list__skills"
      = link_to 'Works', '#', class:"header__list__works"
      = link_to 'Blogs','#' ,class:"header__list__blog"
      = link_to 'Contact','#', class:"header__list__contact"

  .content
    .content__image
      = image_tag 'image1.png'
    .content__about
      About
    .content__main
      .content__main__left
        = image_tag 'image3.jpeg'
      .content__main__right
        初めまして、伊藤 圭亮（いとうけいすけ）と申します。
        .content__main__right__bold
          【性格】
        .content__main__right__text
          相手の気持ちをくみとった上で発言や行動をするように心がけているので人間関係で大きなトラブルになったことはありません、わりと誰とでも仲良くなれるタイプだと思います。       
        .content__main__right__text
          人からはよく真面目と言われるので、真面目にコツコツ物事をこなすのが得意かもしれません。学生時代も社会人になってからも独自で勉強し、資格をとったりしてました。
        .content__main__right__text
          興味を持ったことは継続して続けられます。趣味でギターを15年、筋トレ歴も3年目になり自宅に簡易ジムを作りトレーニングをしています。
        .content__main__right__bold
          【資格】
        .content__main__right__text
          普通自動車免許（第一種）
        .content__main__right__text
          日商簿記検定２級
        .content__main__right__text
          ファイナンシャルプランニング技能士３級
        .content__main__right__text
          衛生管理者（第二種）
        .content__main__right__text
          登録販売者
        .content__main__right__bold
          【経歴】
          2012年3月 : 大分大学　経済学部　経営システム学科卒業
        .content__main__right__bold
          2012年4月 〜 2020年2月 : 食品スーパー（惣菜主任・副店長）
        .content__main__right__text
          惣菜の担当として半年、主任として７年間弁当を製造したり寿司を握ったり、材料を仕入れたりと、様々な経験をしました。
        .content__main__right__text
          数値管理や在庫管理をするのが得意で、値引きや、廃棄にかかる時間が無駄だと感じたので、売変や廃棄商品を減らすため、各商品の売価変更率、廃棄率を把握し、売れ筋商品の見極めを行い、製造計画や発注数量のコントロールを行いました。
          %br/ 
          その結果商品廃棄率が50%、粗利率4％改善し、月間・年間の優秀従業員を取得し、全社で一番の売上・荒利の部門主任も経験できました。
        .content__main__right__text
          副店長としては、従業員100名以上の大型店舗の施設管理や、お客様対応、採用などのマネジメントを中心に行いました。
        .content__main__right__text
          人数が多いとそれぞれ年齢も考え方も違うため、苦労しましたが、うまくお互いの主張の妥協点を探りコミュニケーションをとって問題を解決する力を得られました。
        .content__main__right__bold
          2020年2月 〜 4月 : プログラミングスクールTECH::CAMP入校
        .content__main__right__text
          HTMLやCSSなどのマークアップ言語の他Ruby、Rails、Javascriptなどを中心に学習し、一通りの基礎を学習しました。
        .content__main__right__bold
          【やってみたいこと】
        .content__main__right__text
          ① サービスを使う側から作る側になってみたい！
        .content__main__right__text       
          ② 世の中から求められるスキルを身につけて誰かの役に立ちたい！
        .content__main__right__text
          ③ 技術の好き嫌いをせずに学び続けフルスタックエンジニアを目指してみたい！
        .content__main__right__bold
          【個人学習教材】
        .content__main__right__text
          ① progate(HTML/CSS/ruby/ruby on rails/git/javascript)
          %br/
          ② 現場で使えるRuby on rails 5 速習実践ガイド
          %br/
          ③ udemy 「WEB開発入門完全開発コース」
          %br/
          ④ udemy 「もう怖くないGit! チーム開発で必要なGIt完全マスター」
          %br/
          ⑤ paizaラーニング　Bランク取得

