.wrapper
  .header
    =link_to 'Keisuke Ito', "#" , class:"header__logo"
    .header__list
      = link_to 'Home', '#',class:"header__list__home"
      = link_to 'About', '#' ,class:"header__list__about"
      = link_to 'Skills','#' , class:"header__list__skills"
      = link_to 'Works', '#', class:"header__list__works"
      = link_to 'Blogs','#' ,class:"header__list__blog"
      = link_to 'Contact','#', class:"header__list__contact"
      %i.fa.fa-bars
  .content
    .content__image
      = image_tag 'image1.png', class: "main__image"
    .content__about
      About
    .content__main
      .content__main__left
        = image_tag 'image3.jpeg', class: "content__main__left__image"
        .content__main__left__image__item1
          = link_to('https://twitter.com/ZtJIJkaTXdkPawY', class: "content__main__left__image__icon1") do
            = icon('fab', 'twitter')
            %span.content__main__left__image__text
              Twitter
        .content__main__left__image__item2
          = link_to(' https://github.com/itokeso', class: "content__main__left__image__icon2") do
            = icon('fab','github')
            %span.content__main__left__image__text 
              Github
        .content__main__left__image__item3
          = link_to('https://headwaybasket.com/', class: "content__main__left__image__icon3") do
            = icon('fas', 'blog')
            %span.content__main__left__image__text
              Blog
        .content__main__left__image__item4
          = link_to('https://over-thirty-programming.info/', class: "content__main__left__image__icon3") do
            = icon('fas', 'blog')
            %span.content__main__left__image__text
              2ndBlog

      .content__main__right
        .content__main__right__text
          初めまして、伊藤 圭亮（いとうけいすけ）と申します。
        .content__main__right__bold
          【性格】
        .content__main__right__text
          相手の気持ちをくみとった上で発言や行動をするように心がけているので人間関係で大きなトラブルになったことはありません、わりと誰とでも仲良くなれるタイプだと思います。       
          %br/
          %br/
        .content__main__right__text
          人からはよく真面目と言われるので、真面目にコツコツ物事をこなすのが得意かもしれません。学生時代も社会人になってからも独自で勉強し、資格をとったりしてました。
          %br/
          %br/
        .content__main__right__text
          興味を持ったことは継続して続けられます。趣味でギターを15年、筋トレ歴も3年目になり自宅に簡易ジムを作りトレーニングをしています。
        .content__main__right__bold
          【資格】
        .content__main__right__text
          普通自動車免許（第一種）
        .content__main__right__text
          日商簿記検定２級
        .content__main__right__text
          ファイナンシャルプランニング技能士３級
        .content__main__right__text
          衛生管理者（第二種）
        .content__main__right__text
          登録販売者
        .content__main__right__bold
          【経歴】
        .content__main__right__bold
          2012年3月 : 大分大学 経済学部 経営システム学科卒業
        .content__main__right__bold
          2012年4月 〜 2020年2月 : 食品スーパー（惣菜主任・副店長）
        .content__main__right__text
          惣菜の担当として半年、主任として７年間弁当を製造したり寿司を握ったり、材料を仕入れたりと、様々な経験をしました。
          %br/
          %br/
        .content__main__right__text
          数値管理や在庫管理をするのが得意で、値引きや、廃棄にかかる時間が無駄だと感じたので、各商品の売価変更率、廃棄率を把握し,製造計画や発注数量のコントロールを行いました。
          %br/ 
          その結果商品廃棄率が50%、粗利率4％改善し、月間・年間の優秀従業員を取得し、全社で一番の売上・荒利の部門主任も経験できました。
          %br/
          %br/
        .content__main__right__text
          副店長としては、従業員100名以上の大型店舗の施設管理や、お客様対応、採用などのマネジメントを中心に行いました。
        .content__main__right__text
          人数が多いとそれぞれ年齢も考え方も違うため、苦労しましたが、うまくお互いの主張の妥協点を探りコミュニケーションをとって問題を解決する力が得られました。
        .content__main__right__bold
          2020年2月 〜 4月 : プログラミングスクールTECH::CAMP入校
        .content__main__right__text
          HTMLやCSSなどのマークアップ言語の他Ruby、Rails、Javascriptなどを中心に学習し、一通りの基礎を学習しました。
        .content__main__right__bold
          【やってみたいこと】
        .content__main__right__text
          ① サービスを使う側から作る側になってみたい！
        .content__main__right__text       
          ② 世の中から求められるスキルを身につけて誰かの役に立ちたい！
        .content__main__right__text
          ③ 技術の好き嫌いをせずに学び続けフルスタックエンジニアを目指してみたい！
        .content__main__right__bold
          【個人学習教材】
        .content__main__right__text
          ① progate(HTML/CSS/ruby/ruby on rails/git/javascript)
          %br/
          ② 現場で使えるRuby on rails 5 速習実践ガイド
          %br/
          ③ udemy 「WEB開発入門完全開発コース」
          %br/
          ④ udemy 「もう怖くないGit! チーム開発で必要なGIt完全マスター」
          %br/
          ⑤ paizaラーニング Bランク取得


    .content__skill
      .content__skill__tag
        Skills
      .content__skill__index
        私が学習した技術一覧です。
      .content__skill__tag__item

        .content__skill__tag__item__card1
          .content__skill__tag__item__card1__html
            %i.fab.fa-html5
          .content__skill__tag__item__card1__title
            HTML5
          .content__skill__tag__item__card1__text
            0からのコーディングが可能です。当サイトも自分でマークアップしております。

        .content__skill__tag__item__card2
          .content__skill__tag__item__card2__css
            %i.fab.fa-css3
          .content__skill__tag__item__card2__title
            CSS3
          .content__skill__tag__item__card2__text
            SASSを使用したページの実装が可能です。

        .content__skill__tag__item__card3
          .content__skill__tag__item__card3__js
            %i.fab.fa-js-square
          .content__skill__tag__item__card3__title
            JavaScript
          .content__skill__tag__item__card3__text
            基本的な文法、基礎知識は学習済みです。

        .content__skill__tag__item__card4
          .content__skill__tag__item__card4__jq
            = image_tag 'image4.png' 
          .content__skill__tag__item__card4__title
            JQuery
          .content__skill__tag__item__card4__text
            jQueryを使い動きのあるWebサイト制作が可能です。

        .content__skill__tag__item__card5
          .content__skill__tag__item__card5__rb
            = image_tag 'ruby.png', size: '35x35'
          .content__skill__tag__item__card5__title
            Ruby
          .content__skill__tag__item__card5__text
            基本的な文法は学習しており、paizaラーニングでBランク獲得しています

        .content__skill__tag__item__card6
          .content__skill__tag__item__card6__rails
            %i.fab.fa-r-project
          .content__skill__tag__item__card6__title
            Ruby on Rails
          .content__skill__tag__item__card6__text
            フレームワークを使い0からアプリケーションを作る事が可能です。

        .content__skill__tag__item__card7
          .content__skill__tag__item__card7__git
            %i.fab.fa-git-square
          .content__skill__tag__item__card7__title
            GitHub
          .content__skill__tag__item__card7__text
            基本的なGitの操作が可能でチーム開発の経験もあります。制作物はGitHub上に公開しております。

        .content__skill__tag__item__card8 
          .content__skill__tag__item__card8__seo
            %i.fab.fa-adversal
          .content__skill__tag__item__card8__title
            SEO
          .content__skill__tag__item__card8__text
            個人でブログ運営しており独学ですがSEOの知識・セールスライティングの知識があります。

    .content__works
      .content__works__tag
        Works
      .content__works__index
        スクールや個人開発での制作物です。
        %br/
        クリックするとgithubソースコードに飛びます
      .content__works__item
        = link_to('https://github.com/itokeso/portfolio', class: 'list-content') do
          .content__works__item__card
            = image_tag 'image1.png', size:"350x150"
            .content__works__item__card__title
              ポートフォリオサイト（当サイト）
            .content__works__item__card__text
              就職活動等で履歴書だけでは分からない性格的な部分まで見てもらえたらより一層お互いにとって良いマッチングになるのではないかと思い作成しました。

        = link_to('https://github.com/itokeso/todo-app1', class: 'list-content') do
          .content__works__item__card
            = image_tag 'work1.png', size:"350x150"
            .content__works__item__card__title
              TODOリスト作成アプリ
            .content__works__item__card__text
              ただやるべきことを記入できるだけではなく、リストに関係する詳細やメモを残すことでどのようにこのタスクを終了するべきかを簡単に理解できる仕様とすることを心がけました。
          
        = link_to('https://github.com/itokeso/my_blog', class: 'list-content') do
          .content__works__item__card
            = image_tag 'blog.png', size:"350x150"
            .content__works__item__card__title
              My_blog(ブログアプリ)
            .content__works__item__card__text
              My_blogは複数人で使用できるブログでログイン機能、マイページ、編集・削除機能などrailsの基礎的な部分が実装されています。

        = link_to('https://github.com/itokeso/pictweet', class: 'list-content') do
          .content__works__item__card
            = image_tag 'pic.png', size:"350x150"
            .content__works__item__card__title
              PicTweet(写真投稿アプリ)
            .content__works__item__card__text
              画像と文字をみんなで投稿していくシンプルなサービスです。コメントも投稿する事ができ、コメント送信機能にはajaxを使用した非同期通信が出来るよう実装しています。
        
        = link_to('https://github.com/itokeso/chat', class: 'list-content') do
          .content__works__item__card
            = image_tag 'chat.png', size:"350x150"
            .content__works__item__card__title
              ChatSpace(チャットアプリ)
            .content__works__item__card__text
              グループを作りグループ内でのチャットが可能です。メンバーの招待や画像送信機能・チャットの自動更新機能などが実装されています。
        
        = link_to('https://github.com/itokeso/freemarket_app_71b', class: 'list-content') do
          .content__works__item__card
            = image_tag 'free.png', size:"350x150"
            .content__works__item__card__title
              Freemarket(フリマアプリ)
            .content__works__item__card__text
              スクールの最終課題で、チームでフリーマーケットサイトのコピーを行いました。基本的なサービスに加えて商品の出品、編集、クレジットカードでの購入などの実装がされています。

    .content__blog
      .content__blog__tag
        Blog
      .content__blog__index
        2019年2月から個人ブログの運営を開始しました。
        %br/
        ジャンルはお金の教養や筋トレなどで、SEOやライティングの知識が得られました。
        .content__blog__index__blog
          = link_to 'ブログへのリンクはこちら', 'https://headwaybasket.com/', class:"content__blog__index__blog__link"      
        %br/
        2020年6月からはプログラミング学習で学んだ事をアウトプットするための2ndブログも作成しました。
        %br/
        投稿数はまだほとんどありませんが少しずつ増やしていこうと思います。
        .content__blog__index__blog
          = link_to '2ndブログ', 'https://over-thirty-programming.info/', class: "content__blog__index__blog__link"      
          
      .content__blog__item
        = link_to('https://headwaybasket.com/training/', class: 'blog-list') do
          .content__blog__item__site
            = image_tag 'trainning.jpg', size: "250x140" ,class:"blog-image"
            .content__blog__item__site__title
              筋トレ始めて１年！体はどれだけ変わった？
        .content__blog__item__right
          筋トレを始めて１年で体の変化がどれだけあったかの解説を写真で振り返りながら解説しました。
          %br/
          オススメの器具やサプリメントなどを紹介しています。
          %br/
          「筋トレ 1年 変化」というキーワードで検索順位３位を獲得しました。
          
        = link_to('https://headwaybasket.com/macro-diet/', class: 'blog-list') do
          .content__blog__item__site
            = image_tag 'man.jpg', size: "250x140",class:"blog-image"
            .content__blog__item__site__title
              それで合ってる？正しいマクロ管理ダイエット法！
        .content__blog__item__right
          間違ったダイエットをしてリバウンドや体の調子を崩す人が多いので,ダイエットの基本となるマクロ管理について解説しました。
          %br/
          3大栄養素である「炭水化物」「資質」「タンパク質」のバランスやカロリーの構成やダイエットのステップを解説しています。

        = link_to('https://headwaybasket.com/income-tax-municipal-tax/', class: 'blog-list') do
          .content__blog__item__site
            = image_tag 'girl.jpg', size: "250x140",class:"blog-image"
            .content__blog__item__site__title
              給与明細の所得税と住民税って？
        .content__blog__item__right
          サラリーマンをしていると給与天引きで知らぬ間に色々と引かれてしまいます。
          %br/
          サラリーマンなら知っておきたい給与明細の中身について解説しています。
      
        = link_to('https://headwaybasket.com/menz-body-shaver/', class: 'blog-list') do
          .content__blog__item__site
            = image_tag 'ke.jpg', size: "250x140",class:"blog-image"
            .content__blog__item__site__title
              男も体毛を処理する時代⁉おすすめのメンズボディトリマーは？
        .content__blog__item__right
          お金の教養や筋トレだけでなく、メンズ美容についての記事もあります。
          %br/
          最近は脱毛やエステなど美容に興味がある男性も増えてきているので自分も色々やってみようと思い、自分で実験しています。

        = link_to('https://over-thirty-programming.info/readme/', class: 'blog-list') do
          .content__blog__item__site
            = image_tag 'gif.png', size: "250x140",class:"blog-image"
            .content__blog__item__site__title
              READMEにgif動画を貼る方法は？わかりやすく解説！
        .content__blog__item__right
          プログラミングアウトプット用のブログです。
          %br/
          READMEに製作物のgif動画を貼りたいと思い自分も調べてみました。
          %br/
          画像も使い、出来るだけわかりやすく解説しています。

    .content__contact
      .content__contact__tag
        contact
      .content__contact__index
        ご質問やご相談はtwitterのDMより受け付けております。
        = link_to("https://twitter.com/ZtJIJkaTXdkPawY", class: "contact-link") do
          = icon('fab', 'twitter')
          %span プロフィールはこちら

  .footer
    %p.footer__text
      ©KEISUKE ITO. All Rights Reserved.
    